.easy-in-out-slow {
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.easy-in-out-slow:not(.no-hover):hover {
  transition-timing-function: ease-out;
  transition: 0.3s;
}

.easy-in-out-fast {
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.easy-in-out-fast:not(.no-hover):hover {
  transition-timing-function: ease-out;
  transition: 0.2s;
}

.animate__super_fast {
  --animate-duration: 0.2s;
}
