@import "./variables.scss";

h1 {
  font-weight: 450;
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-weight: 450;
  font-size: 54px;
  line-height: 64px;
}

h3 {
  font-weight: 450;
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-weight: 450;
  font-size: 32px;
  line-height: 40px;
}

.text-1 {
  font-weight: 450;
  font-size: 40px;
  line-height: 48px;
}

.text-2 {
  font-weight: 450;
  font-size: 32px;
  line-height: 40px;
}

.text-3 {
  font-weight: 450;
  font-size: 20px;
  line-height: 28px;
}

.tag-24 {
  font-weight: 450;
  font-size: 24px;
  line-height: 32px;
}

.tag-18 {
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
}

.tag-16 {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
}

.black-3 {

}


.black-3 {
  color: $black-3;
}

.black-2 {
  color: $black-2;
}

.light {
  color: $light;
}

.black {
  color: $black;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.purple {
  color: $purple;
}

.purple-2 {
  color: $purple-2;
}

.m-0 {
  margin: 0 !important;
}


@media screen and (max-width: 1440px) {
  h1 {
    font-size: 56px !important;
    line-height: 64px !important;
  }

  h2 {
    font-size: 40px !important;
    line-height: 48px !important;
  }

  h3 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .text-1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .text-2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  .text-3 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}
