@media screen and (max-width: 522px) {
  .description-container {
    .i-love-container {
      .and {
        margin-right: 5%;
      }

      .human-friendly-text {
        margin-left: 0;
      }

      .solutions {
        margin-left: 6px;
      }
    }
  }
}

@media screen and (max-width: 448px) {
  .description-container {
    .i-love-container {
      .i-love-transforming, .and, .emotional-text,
      .human-friendly-text {
        margin-right: 5%;
      }

      .and {
        margin-right: 0;
      }

      .problems, .and, .solutions {
        margin-left: 0;
      }

      .emotional-text, .human-friendly-text {
        margin-left: 6px;
      }
    }
  }

  .footer-container {
    .footer-text {
      .challenges {
        margin-right: 5%;
      }

      .and {
        margin-left: 0;
      }

      .opportunities {
        margin-left: 6px;
      }
    }
  }
}

@media screen and (max-width: 401px) {
  .description-container {
    .i-love-container {
      .i-love-transforming {
        margin-right: 5%;
      }

      .problems, .emotional-text {
        margin-right: 0;
      }
    }
  }

  .footer-container {
    .footer-text {
      .open-to-new {
        margin-right: 10%;
      }

      .challenges {
        margin-left: 0;
        margin-right: 0;
      }

      .and {
        margin-left: 6px;
      }

      .opportunities {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 384px) {
  .description-container {
    .i-love-container {
      .emotional-text, .human-friendly-text {
        margin-left: 0;
      }

      .and {
        margin-left: 6px;
      }

      .problems {
        margin-right: 5%;
      }

      .emotional-text {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 364px) {
  .copied-popup-flying-container-background {
    left: 8px;
    right: 8px;
    transform: none;
    max-width: 348px;
    min-width: 304px;


    .copied-popup-flying-container {
      width: unset;

      .copied-popup-content-container {
        .text-container {
          line-height: 20px;

          br {
            display: block;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 301px) {
  .description-container {
    .i-love-container {
      .and {
        margin-left: 0;
      }

      .emotional-text {
        margin-right: 5%;
      }
    }
  }
}

@media screen and (max-height: 900px) and (max-width: 900px) {
  .main-container-content {
    height: unset;

    .main-section {
      .main-blocks-container {
        .right-main-block {
          height: 250px;
          width: 100%;
        }
      }
    }
  }
}
