@media screen and (max-width: 1088px) {
  .my-approach-container {
    .cards-container {
      flex-wrap: wrap;
      margin-top: 72px;

      .card {
        max-width: 50%;

        .card-border-container {
          height: 360-48px;
        }

        .card-4-header {
          max-width: 253px;
        }

        .ux {
          top: 81px;
        }

        .ui {
          top: 150px;
          right: 0;
        }
      }
    }
  }
}
