@media screen and (max-width: 1440px) {
  header {
    .avatar {
      width: 40px !important;
      height: 40px !important;
    }

    .menu-buttons {
      div {
        height: 40px !important;
      }
    }
  }

  .main-blocks-container {
    .left-main-block {
      padding: 32px;
      .left-main-block-header {
        .hi-container {
          min-width: 440px !important;
          max-width: 620px !important;
        }
        img {
          height: 56px!important;
          width: 56px!important;
        }
      }

      .paragraph-1 {
        margin-top: 32px !important;
        min-width: 440px !important;
        max-width: 620px !important;
      }

      .paragraph-2 {
        margin-top: 24px !important;
        min-width: 440px !important;
        max-width: 620px !important;
      }
    }
  }

  .main-block-footer {
    .link-block {
      height: 40px !important;
    }

    .email-container {
      height: 40px !important;
    }
  }

  .description-container {
    .i-love-container {
      width: 821px !important;

      .emotional-image {
        width: 266.01px;
        height: 17.99px;
        top: 115px;
        left: -15px;
      }

      .human-friendly-image {
        width: 371px;
        top: 122px;
        left: 350px;
      }
    }

    .expertise-container {
      width: 566px;
    }
  }

  .case-studies-header {
    padding: 0 32px;
    height: 134px;
  }

  .case-1-container {
    height: 566px;

    .left-block-container {
      overflow-y: scroll;

      .text-container, .header-container {
        padding: 24px;
        margin-right: 0;
        div {
          margin-top: 32px;
        }
      }


      .description-block-container {
        flex-direction: column;
      }
    }

    .left-block-container::-webkit-scrollbar {
      display: none;
    }

    .left-block-container {
      -ms-overflow-style: none;  /* IE и Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }

  .my-approach-container {
    .cards-container {
      margin-top: 120px;

      .card {
        padding: 24px 0;
        border-radius: 16px;

        .card-border-container {
          height: 380-48px;
          padding: 0 24px;
        }

        .ux {
          top: 110px;
          left: -5px;
          rotate: -15deg;
          width: 124px;
          height: 71.54px;
        }

        .ui {
          top: 144px;
          width: 104px;
          height: 72px;
        }

        .heart {
          top: 55px;
          width: 180px;
          height: 189px;
        }

        .plane {
          top: 65px;
          width: 136px;
          height: 160px;
        }

        .new {
          top: 65px;
          right: 22px;
          rotate: 30deg;
          width: 156px;
          height: 56px;
        }
      }
    }
  }

  .footer-container {
    padding: 48px 32px 32px 32px !important;

    .footer-text {
      margin-bottom: 20px;
    }

    .orange-vector {
      left: 356px;
      top: 80px;
      width: 239px;
      height: 36px;
    }

    .purple-vector {
      width: 234px;
      height: 44px;
      left: 74px;
      top: 145px;
    }
  }

  .footer-links {
    .links-block-container {
      .link-block {
        height: 40px !important;
      }

      .email-container {
        height: 40px !important;
      }
    }
  }
}
