@import "./variables.scss";

@media screen and (max-width: 1160px) {
  .my-approach-container {
    .cards-container {
      flex-wrap: wrap;
      margin-top: 72px;

      .card {
        box-sizing: border-box;
        max-width: 50%;
        margin-right: 0 !important;

        .card-x-border-container {
          .card-y-border-container {
            .card-content-container {
              height: 360-48px;
            }
          }
        }

        .card-4-header {
          max-width: 253px;
        }

        .ux {
          top: 29%;
        }

        .ui {
          top: 45%;
          right: 0;
        }
      }

      .card-1, .card-2 {
        .card-x-border-container {
          border-bottom: 2px dashed $black;

          .card-y-border-container {
            border-right: 2px dashed $black;
          }
        }
      }

      .card-3 {
        .card-x-border-container {
          .card-y-border-container {
            border-right: 2px dashed $black;
          }
        }
      }

      .card-2 {
        .card-x-border-container {
          .card-y-border-container {
            border-right: none;
          }
        }
      }

      .card-2, .card-3, .card-4 {
        .card-x-border-container {
          .card-y-border-container {
            border-left: none;
          }
        }
      }
    }
  }
}
