@import "./clash-grotesk.css";

* {
  font-family: 'ClashGrotesk-Variable', sans-serif;
}

.main-container {
  background: var(--Light, #FDFAF1);
  padding-top: 62px;
}

.main-container-content {
  /*background-color: #999999;*/
  max-width: 1440px;
  margin: auto;
}

/* Header */
/* Common */

.left-block {
  width: 50%;
}

.left-block-content {
  margin-left: 48px;
  max-width: 560px;
}

.right-block {
  width: 50%;

}

.right-block-content {
  margin-right: 47px;
  max-width: 673px;
}

/*Top row*/
.top-row {
  display: flex;
}

.top-row .left-block-content {
  display: flex;
  flex-wrap: wrap;
}

.greeting {
  color: var(--Black, #2C2925);
  leading-trim: both;
  text-edge: cap;

  /* H2-64 */
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 109.375% */
}

.avatar {
  display: flex;
  width: 72px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 100px;
  margin-left: 32px;
  border: 3px #F6F5F3 solid;
  box-shadow: 2px 2px 2px -1px rgba(120.46, 108.57, 72.92, 0.19);
}

.links div {
  color: var(--Black, #2C2925);
  leading-trim: both;
  text-edge: cap;

  /* text-24 */
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 69.5px; /* 289.583% */

  margin-left: 87px;
}

.links {
  display: flex;
  justify-content: right;
}


/*Middle row*/

.middle-row {
  margin-top: 80px;
  display: flex;
}

.text {
  color: var(--Black, #2C2925);
  text-align: justify;
  leading-trim: both;
  text-edge: cap;
  text-indent: 46px;

  /* text-32 */
  font-size: 32px;
  font-style: normal;
  font-weight: 450;
  line-height: 40px; /* 125% */
}

.text div {
  margin-bottom: 20px;
}

.text div:last-child {
  margin-bottom: 0;
}

.middle-row .right-block-content {
  display: flex;
  justify-content: right;
}

.middle-row .right-block-content {
  display: flex;
  justify-content: right;
}

.right-block-picture {
  width: 673px;
  height: 460px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Black, #2C2925);
}
