@import "./clash-grotesk.css";
@import "./variables.scss";

* {
  font-family: 'ClashGrotesk-Variable', sans-serif;
}

.main-container {
  background-color: $black;
  min-height: 100vh;
  padding: 12px 16px;
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv-block {
  display: flex;
  align-items: center;
  background-color: $black-2;
  justify-content: space-between;
  padding: 4px 16px 4px 4px;
  width: fit-content;
  border-radius: 1000px;
  border: 1px $black;
}

.cv-block:hover {
  background-color: $black-3;

  .arrow {
    margin-left: 16px;
    margin-right: 0;
  }
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.name-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.arrow {
  margin-left: 8px;
  margin-right: 8px;
}

.menu-buttons {
  display: flex;
  background-color: $black-2;
  border: 1px $black;
  border-radius: 1000px;
  padding: 4px;

  div:first-child {
    background-color: $light;
    color: $black-2;
    margin-right: -16px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black-2;
    color: $light;
    border-radius: 1000px;
    width: 112px;
    height: 48px;
  }

  div:last-child {
    margin-left: -16px;
  }
}


// Main blocks
.main-blocks-container {
  margin-top: 12px;
  display: flex;
}

.left-main-block {
  position: relative;
  box-sizing: border-box;
  background-color: $light;
  width: 1155px;
  height: 840px;
  padding: 56px 40px 16px 40px;
  border-radius: 16px;

  .left-main-block-header h1 {
    margin: 0;
  }

  .paragraph-1 {
    margin-top: 64px;
    width: 825px;
  }

  .paragraph-2 {
    margin-top: 40px;
    width: 825px;
  }

  .explore-case-studies-button {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    border-radius: 1000px;
    background-color: $black-2;
    padding: 4px 24px 4px 4px;
    width: fit-content;
    color: $light;

    .explore-case-studies-arrow-down {
      background-color: $light;
      border-radius: 1000px;

      img {
        padding: 14px;
        height: 20px;
        width: 20px;
      }
    }

    .explore-case-studies-text {
      margin-left: 16px;
    }
  }
}

.right-main-block {
  background-color: $black-2;
  width: 721px;
  height: 840px;
  border-radius: 16px;
  margin-left: 12px;
}

.main-block-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  .links-block-container {
    display: flex;
    color: $light;
    background-color: $black-2;
    width: fit-content;
    border-radius: 1000px;
    padding: 4px;

    .link-block {
      padding: 12px 28px 12px 32px;
      display: flex;
      align-items: center;

      img {
        margin-left: 8px;
      }
    }
  }

  .email-container {
    display: flex;
    align-items: center;
    color: $light;

    border: 1px dashed $light;
    border-radius: 1000px;
    padding: 4px 24px 4px 24px;

    img {
      width: 20px;
      height: 20px;
      margin-left: 16px;
    }
  }
}

.description-container {
  margin-top: 12px;
  color: $light;
  background-color: $black-2;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  .i-love-container {
    width: 1115px;

    .emotional-image {
      margin-top: -188px;
    }

    .human-friendly-image {
      margin-top: -176px;
      margin-left: 141px;
    }
  }

  .expertise-container {
    margin-top: 120px;
    width: 681px;
    align-self: end;
  }
}

.case-studies-header {
  color: $light;
  background-color: $black-2;
  border-radius: 16px;
  margin-top: 12px;
  padding: 40px 48px;

  display: flex;
  align-items: center;

  img {
    margin-left: 40px;
  }
}

.case-1-container {
  margin-top: 12px;
  background-color: $black-2;
  border-radius: 16px;
  padding: 16px;
  display: flex;

  .left-block-container {
    display: flex;
    flex-direction: column;

    .description-block-container {
      display: flex;
      align-items: stretch;
    }

    .text-container {
      background-color: $white;
      border-radius: 16px;
      padding: 32px;
      margin-top: 4px;
      margin-left: 4px;
    }

    .header-container {
      background-color: $blue;
      border-radius: 16px;
      padding: 32px;

      h3, div {
        width: 625px;
      }
    }

    .col-1 {
      display: flex;
      flex-direction: column;
    }

    .outcome-container {
      flex-grow: 1;
    }

    .text-container {
      h3, div {
        width: 398px;
      }
    }

    .role-container ul {
      padding-left: 30px;
    }
  }

  .right-block-container {
    padding-left: 16px;

    .case-img {
      height: 720px;
      border-radius: 16px;
    }

    .tags-container {
      display: flex;
      margin-top: 4px;

      div {
        padding: 16px 20px 16px 20px;
        background-color: $black-3;
        border-radius: 29px;
        margin-left: -16px;
      }

      div:first-child {
        margin-left: 0;
      }
    }

    .link-container {
      display: flex;
      margin-top: 4px;

      .year-block {
        padding: 16px 20px 16px 20px;
        background-color: $black-3;
        border-radius: 29px;
      }

      .link-block {
        padding: 16px 20px 16px 20px;
        border-radius: 29px;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        background-color: $blue;
      }
    }
  }
}
