@import "./clash-grotesk.css";
@import "./variables.scss";

* {
  font-family: 'ClashGrotesk-Variable', sans-serif;
}

.main-container {
  background-color: $black;
  min-height: 100vh;
  padding: 12px 16px;
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv-block {
  display: flex;
  align-items: center;
  background-color: $black-2;
  justify-content: space-between;
  padding: 4px 16px 4px 4px;
  width: fit-content;
  border-radius: 1000px;
  border: 1px $black;
}

.cv-block:hover {
  background-color: $black-3;

  .arrow {
    margin-left: 16px;
    margin-right: 0;
  }
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.name-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.arrow {
  margin-left: 8px;
  margin-right: 8px;
}

.menu-buttons {
  display: flex;
  background-color: $black-2;
  border: 1px $black;
  border-radius: 1000px;
  padding: 4px;

  div:first-child {
    background-color: $light;
    color: $black-2;
    margin-right: -16px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black-2;
    color: $light;
    border-radius: 1000px;
    width: 112px;
    height: 48px;
  }

  div:last-child {
    margin-left: -16px;
  }
}


// Main blocks
.main-blocks-container {
  margin-top: 12px;
  display: flex;
}

.left-main-block {
  position: relative;
  box-sizing: border-box;
  background-color: $light;
  width: 1155px;
  height: 840px;
  padding: 56px 40px 16px 40px;
  border-radius: 16px;

  .left-main-block-header h1 {
    margin: 0;
  }

  .paragraph-1 {
    margin-top: 64px;
    width: 825px;
  }

  .paragraph-2 {
    margin-top: 40px;
    width: 825px;
  }

  .explore-case-studies-button {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    border-radius: 1000px;
    background-color: $black-2;
    padding: 4px 24px 4px 4px;
    width: fit-content;
    color: $light;

    .explore-case-studies-arrow-down {
      background-color: $light;
      border-radius: 1000px;

      img {
        padding: 14px;
        height: 20px;
        width: 20px;
      }
    }

    .explore-case-studies-text {
      margin-left: 16px;
    }
  }
}

.right-main-block {
  background-color: $black-2;
  width: 721px;
  height: 840px;
  border-radius: 16px;
  margin-left: 12px;
}

.main-block-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  .links-block-container {
    display: flex;
    color: $light;
    background-color: $black-2;
    width: fit-content;
    border-radius: 1000px;
    padding: 4px;

    .link-block {
      padding: 12px 28px 12px 32px;
      display: flex;
      align-items: center;
      img {
        margin-left: 8px;
      }
    }
  }

  .email-container {
    display: flex;
    align-items: center;
    color: $light;

    border: 1px dashed $light;
    border-radius: 1000px;
    padding: 4px 24px 4px 24px;

    img {
      width: 20px;
      height: 20px;
      margin-left: 16px;
    }
  }
}
