@import "variables";

@media screen and (max-width: 1280px) {
  .description-container {
    .i-love-container {
      max-width: 747px;
    }

    .expertise-container {
      max-width: 480px;
    }
  }

  .my-approach-container {
    .cards-container {
      flex-wrap: wrap;
      margin-top: 72px;

      .card {
        padding: 24px;
        border-radius: 16px;
        box-sizing: border-box;
        max-width: 50%;
        margin-right: 0 !important;

        .card-x-border-container {
          padding: 24px 0;
          margin: -24px 0;


          .card-y-border-container {
            padding: 0 24px;
            margin: 0 -24px;

            .card-content-container {
              height: 360-48px;
            }
          }
        }

        .card-4-header {
          max-width: 253px;
        }

        .ux {
          width: 124px;
          height: 72px;
          top: 29%;
        }

        .ui {
          top: 45%;
          right: 0;
          width: 104px;
          height: 72px;
        }

        .heart {
          width: 180px;
          height: 189px;
        }

        .plane {
          width: 136px;
          height: 160px;
        }

        .new {
          width: 156px;
          height: 56px;
        }
      }

      .card-1, .card-2 {
        .card-x-border-container {
          border-bottom: 2px dashed $black;

          .card-y-border-container {
            border-right: 2px dashed $black;
          }
        }
      }

      .card-3 {
        .card-x-border-container {
          .card-y-border-container {
            border-right: 2px dashed $black;
          }
        }
      }

      .card-2 {
        .card-x-border-container {
          .card-y-border-container {
            border-right: none;
          }
        }
      }

      .card-2, .card-3, .card-4 {
        .card-x-border-container {
          .card-y-border-container {
            border-left: none;
          }
        }
      }
    }
  }
}
