@import "clash-grotesk.css";

* {
  font-family: "ClashGrotesk-Variable", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3 {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.main-container {
  background-color: #2C2925;
  padding: 12px 16px;
}

.main-container-content {
  height: calc(100svh - 24px);
  display: flex;
  flex-direction: column;
}

.floating-header-container {
  position: fixed;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.floating-header-container .merged-header {
  display: none;
}

.floating-header-container .main-header {
  padding: 12px 16px 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floating-header-container .main-header .cv-block {
  display: flex;
  align-items: center;
  background-color: #37332F;
  justify-content: space-between;
  padding: 4px 16px 4px 4px;
  width: fit-content;
  border-radius: 1000px;
  box-shadow: inset 0 0 0 1px #2C2925;
  cursor: pointer;
}

.floating-header-container .main-header .cv-block:not(.no-hover):hover {
  background-color: #423D38;
}

.floating-header-container .main-header .cv-block:not(.no-hover):hover .arrow {
  margin-left: 16px;
  margin-right: 0;
}

.floating-header-container .main-header .avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.floating-header-container .main-header .name-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.floating-header-container .main-header .arrow {
  margin-left: 8px;
  margin-right: 8px;
}

.floating-header-container .main-header .menu-buttons {
  display: flex;
  background-color: #37332F;
  box-shadow: inset 0 0 0 1px #2C2925;
  border-radius: 1000px;
  padding: 4px;
}

.floating-header-container .main-header .menu-buttons .selected-menu-button {
  background-color: #F6ECC9;
  color: #37332F;
}

.floating-header-container .main-header .menu-buttons div:not(.selected-menu-button):not(.no-hover):hover {
  background-color: #423D38;
}

.floating-header-container .main-header .menu-buttons div:first-child {
  margin-right: -16px;
}

.floating-header-container .main-header .menu-buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37332F;
  color: #F6ECC9;
  border-radius: 1000px;
  width: 112px;
  height: 48px;
  cursor: pointer;
}

.floating-header-container .main-header .menu-buttons div:last-child {
  margin-left: -16px;
}

.main-section {
  flex-grow: 1;
  margin-top: 68px;
  margin-bottom: 68px;
}

.main-blocks-container {
  display: flex;
  height: 100%;
}

.main-blocks-container .left-main-block {
  position: relative;
  box-sizing: border-box;
  background-color: #F6ECC9;
  width: calc((100% - 32px) / 1.62);
  padding: 40px 40px 16px 40px;
  border-radius: 16px;
}

.main-blocks-container .left-main-block .left-main-block-header .hi-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 482px;
  max-width: 688px;
}

.main-blocks-container .left-main-block .left-main-block-header .hi-container * {
  flex: 0 1 auto;
}

.main-blocks-container .left-main-block .left-main-block-header .hi-container *:nth-child(2), .main-blocks-container .left-main-block .left-main-block-header .hi-container *:nth-child(3), .main-blocks-container .left-main-block .left-main-block-header .hi-container *:nth-child(4) {
  margin-left: 12px;
}

.main-blocks-container .left-main-block .left-main-block-header .hi-container img {
  height: 72px;
  width: 72px;
}

.main-blocks-container .left-main-block .left-main-block-header .paragraph-3 > .flag {
  height: 32px;
  width: 32px;
  margin-bottom: 6px;
}

.main-blocks-container .left-main-block .paragraph-1 {
  margin-top: 32px;
  min-width: 482px;
  max-width: 688px;
}

.main-blocks-container .left-main-block .paragraph-2 {
  margin-top: 24px;
  min-width: 482px;
  max-width: 688px;
}

.main-blocks-container .left-main-block .explore-case-studies-button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  border-radius: 1000px;
  background-color: #37332F;
  padding: 4px 24px 4px 4px;
  width: fit-content;
  color: #F6ECC9;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.main-blocks-container .left-main-block .explore-case-studies-button .explore-case-studies-arrow-down {
  background-color: #F6ECC9;
  border-radius: 1000px;
  height: 48px;
  width: 48px;
  text-align: center;
}

.main-blocks-container .left-main-block .explore-case-studies-button .explore-case-studies-arrow-down img {
  margin-top: 14px;
  height: 20px;
  width: 20px;
}

.main-blocks-container .left-main-block .explore-case-studies-button .explore-case-studies-text {
  margin-left: 16px;
}

.main-blocks-container .left-main-block .explore-case-studies-button:not(.no-hover):hover {
  background-color: #423D38;
}

.main-blocks-container .left-main-block .explore-case-studies-button:not(.no-hover):hover .explore-case-studies-arrow-down img {
  margin-top: 18px;
}

.main-blocks-container .left-main-block .explore-case-studies-button:active {
  background-color: #37332F;
  transition: 0.05s;
}

.main-blocks-container .left-main-block .explore-case-studies-button:active .explore-case-studies-arrow-down img {
  margin-top: 14px;
  transition: 0.05s;
}

.main-blocks-container .right-main-block {
  background-color: #37332F;
  border-radius: 16px;
  margin-left: 12px;
  flex-grow: 1;
  position: relative;
}

.main-blocks-container .right-main-block .matter-js-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.interactive-container {
  display: none;
}

.floating-footer-container {
  position: fixed;
  bottom: 0;
  left: 16px;
  right: 16px;
  z-index: 30;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.floating-footer-container .main-footer-section {
  margin-top: 12px;
  margin-bottom: 12px;
}

.floating-footer-container .main-footer-section .main-block-footer {
  display: flex;
  justify-content: space-between;
}

.floating-footer-container .main-footer-section .main-block-footer .links-block-container {
  display: flex;
  color: #F6ECC9;
  background-color: #37332F;
  width: fit-content;
  border-radius: 1000px;
  box-shadow: inset 0 0 0 1px #2C2925;
  padding: 4px;
}

.floating-footer-container .main-footer-section .main-block-footer .links-block-container .link-block {
  padding: 0 28px 0 32px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 1000px;
  background-color: #37332F;
  cursor: pointer;
}

.floating-footer-container .main-footer-section .main-block-footer .links-block-container .link-block img {
  margin-left: 8px;
}

.floating-footer-container .main-footer-section .main-block-footer .links-block-container .link-block:first-child {
  margin-right: -16px;
}

.floating-footer-container .main-footer-section .main-block-footer .links-block-container .link-block:last-child {
  margin-left: -16px;
}

.floating-footer-container .main-footer-section .main-block-footer .links-block-container .link-block:not(.no-hover):hover {
  background-color: #423D38;
}

.floating-footer-container .main-footer-section .main-block-footer .email-container {
  display: flex;
  align-items: center;
  color: #F6ECC9;
  background-color: #2C2925;
  height: 56px;
  border: 1px dashed #F6ECC9;
  box-sizing: border-box;
  border-radius: 1000px;
  padding: 0 24px;
  cursor: pointer;
}

.floating-footer-container .main-footer-section .main-block-footer .email-container img {
  width: 20px;
  height: 20px;
  margin-left: 16px;
}

.floating-footer-container .main-footer-section .main-block-footer .email-container .email-full {
  display: block;
}

.floating-footer-container .main-footer-section .main-block-footer .email-container .email-short {
  display: none;
}

.floating-footer-container .main-footer-section .main-block-footer .email-container:active {
  background-color: #37332F;
}

.description-container-margin {
  margin-top: 12px;
}

.description-container-margin-scrolled {
  margin-top: -56px;
}

.description-container {
  color: #F6ECC9;
  background-color: #37332F;
  padding: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.description-container .i-love-container {
  max-width: 1115px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.description-container .i-love-container .emotional-text {
  position: relative;
}

.description-container .i-love-container .emotional-text h1 {
  z-index: 5;
}

.description-container .i-love-container .emotional-text img {
  z-index: 1;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 70%;
}

.description-container .i-love-container .human-friendly-text {
  position: relative;
}

.description-container .i-love-container .human-friendly-text h1 {
  z-index: 5;
}

.description-container .i-love-container .human-friendly-text img {
  z-index: 1;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
}

.description-container .i-love-container .problems, .description-container .i-love-container .and, .description-container .i-love-container .human-friendly-text {
  margin-left: 12px;
}

.description-container .i-love-container h1 {
  position: relative;
  z-index: 5;
}

.description-container .expertise-container {
  margin-top: 120px;
  width: 620px;
  align-self: end;
}

.case-studies-header {
  color: #F6ECC9;
  background-color: #37332F;
  border-radius: 16px;
  margin-top: 16px;
  padding: 0 40px;
  height: 152px;
  display: flex;
  align-items: center;
}

.case-studies-header img {
  margin-left: 40px;
}

.case-container {
  border-radius: 16px;
  margin-top: 16px;
  height: calc(100svh - 80px - 80px - 8px);
  display: flex;
}

.case-container .left-block-container {
  height: 100%;
  box-sizing: border-box;
  width: 50%;
  background-color: #37332F;
  border-radius: 16px;
  padding: 16px;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
}

.case-container .left-block-container .case-img-container {
  display: none;
}

.case-container .left-block-container .header-and-description {
  flex-grow: 0;
  max-width: 640px;
  padding: 24px;
  box-sizing: border-box;
}

.case-container .left-block-container .header-and-description div {
  margin-top: 32px;
}

.case-container .left-block-container .interactive-tags-block {
  flex-grow: 1;
  background-color: #37332F;
  border-radius: 16px;
  margin-left: 12px;
  position: relative;
}

.case-container .left-block-container .interactive-tags-block .matter-js-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.case-container .left-block-container .full-case-link-container {
  flex-grow: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.case-container .left-block-container .full-case-link-container .full-case-link-button {
  border-radius: 1000px;
  background-color: #2C2925;
  padding: 8px 8px 8px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.case-container .left-block-container .full-case-link-container .full-case-link-button .arrow-button {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  background-color: #F6ECC9;
  text-align: center;
}

.case-container .left-block-container .full-case-link-container .full-case-link-button .arrow-button img {
  margin-top: 24px;
  width: 32px;
  height: 32px;
}

.case-container .left-block-container .full-case-link-container .full-case-link-button:not(.no-hover):hover {
  background-color: #423D38;
}

.case-container .left-block-container .full-case-link-container .full-case-link-button:not(.no-hover):hover .arrow-button img {
  margin-left: 10px;
}

.case-container .left-block-container .full-case-link-container .full-case-link-button:active {
  background-color: #37332F;
  transition: 0.05s;
}

.case-container .left-block-container .full-case-link-container .full-case-link-button:active .arrow-button img {
  margin-left: 0;
  transition: 0.05s;
}

.case-container .right-block-container {
  margin-left: 6px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 50%;
}

.case-container .right-block-container img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.my-approach-container {
  background-color: #37332F;
  border-radius: 16px;
  margin-top: 16px;
  padding: 40px 16px 16px 16px;
}

.my-approach-container .header {
  margin-left: 24px;
}

.my-approach-container .cards-container {
  margin-top: 120px;
  display: flex;
}

.my-approach-container .cards-container .card {
  flex-basis: 100%;
  background-color: #EB7A53;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  padding: 32px;
}

.my-approach-container .cards-container .card .card-x-border-container {
  position: relative;
  z-index: 2;
  padding: 32px 0;
  margin: -32px 0;
}

.my-approach-container .cards-container .card .card-x-border-container .card-y-border-container {
  position: relative;
  z-index: 2;
  padding: 0 32px;
  margin: 0 -32px;
}

.my-approach-container .cards-container .card .card-x-border-container .card-y-border-container .card-content-container {
  height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-approach-container .cards-container .card .ux {
  position: absolute;
  top: 40%;
  left: 0;
  rotate: -20.57deg;
}

.my-approach-container .cards-container .card .ui {
  position: absolute;
  top: 50%;
  right: 0;
  rotate: 30deg;
}

.my-approach-container .cards-container .card .heart {
  position: absolute;
  top: 15%;
  right: -25px;
}

.my-approach-container .cards-container .card .card-header, .my-approach-container .cards-container .card .card-content {
  z-index: 5;
}

.my-approach-container .cards-container .card .plane {
  position: absolute;
  top: 12%;
  right: 31px;
}

.my-approach-container .cards-container .card .card-4-header {
  max-width: 300px;
}

.my-approach-container .cards-container .card .new {
  position: absolute;
  top: 18%;
  right: 8px;
  rotate: 30deg;
}

.my-approach-container .cards-container .card-1, .my-approach-container .cards-container .card-2, .my-approach-container .cards-container .card-3 {
  margin-right: -2px;
}

.my-approach-container .cards-container .card-2 .card-y-border-container, .my-approach-container .cards-container .card-3 .card-y-border-container, .my-approach-container .cards-container .card-4 .card-y-border-container {
  border-left: 2px dashed #2C2925;
}

.footer-container {
  margin-top: 16px;
  border-radius: 16px;
  background-color: #F6ECC9;
  padding: 40px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
}

.footer-container .footer-text {
  width: 834px;
  display: flex;
  flex-wrap: wrap;
}

.footer-container .footer-text .challenges {
  margin-left: 12px;
  position: relative;
}

.footer-container .footer-text .challenges h1 {
  z-index: 5;
  position: relative;
}

.footer-container .footer-text .challenges img {
  z-index: 1;
  position: absolute;
  bottom: -5px;
  right: 5%;
  width: 90%;
}

.footer-container .footer-text .opportunities {
  margin-left: 12px;
  position: relative;
}

.footer-container .footer-text .opportunities h1 {
  z-index: 5;
  position: relative;
}

.footer-container .footer-text .opportunities img {
  z-index: 1;
  position: absolute;
  bottom: -10px;
  right: 20%;
  width: 60%;
}

.footer-container .footer-button {
  display: flex;
  align-items: center;
  border-radius: 1000px;
  background-color: #37332F;
  padding: 4px 24px 4px 4px;
  width: fit-content;
  color: #F6ECC9;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.footer-container .footer-button .icon-container {
  background-color: #F6ECC9;
  border-radius: 1000px;
  height: 48px;
  width: 48px;
  text-align: center;
}

.footer-container .footer-button .icon-container img {
  margin-top: 14px;
  height: 20px;
  width: 20px;
}

.footer-container .footer-button .text-container {
  margin-left: 16px;
}

.footer-container .footer-button:not(.no-hover):hover {
  background-color: #423D38;
}

.footer-container .footer-button:not(.no-hover):hover .icon-container img {
  margin-top: 18px;
}

.footer-container .footer-button:active {
  background-color: #37332F;
  transition: 0.05s;
}

.footer-container .footer-button:active .icon-container img {
  transition: 0.05s;
  margin-top: 14px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.footer-links .links-block-container {
  display: flex;
  color: #37332F;
  background-color: #F6ECC9;
  width: fit-content;
  border-radius: 1000px;
  padding: 4px;
}

.footer-links .links-block-container .link-block {
  padding: 0 28px 0 32px;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #F6ECC9;
  border-radius: 1000px;
  cursor: pointer;
}

.footer-links .links-block-container .link-block svg {
  margin-left: 8px;
}

.footer-links .links-block-container .link-block:first-child {
  margin-right: -16px;
}

.footer-links .links-block-container .link-block:last-child {
  margin-left: -16px;
}

.footer-links .links-block-container .link-block:not(.no-hover):hover {
  background-color: #423D38;
  color: #F6ECC9;
}

.footer-links .links-block-container .link-block:not(.no-hover):hover path {
  stroke: #F6ECC9;
}

.footer-links .email-container {
  display: flex;
  align-items: center;
  color: #F6ECC9;
  border: 1px dashed #F6ECC9;
  border-radius: 1000px;
  padding: 4px 24px 4px 24px;
  cursor: pointer;
}

.footer-links .email-container img {
  width: 20px;
  height: 20px;
  margin-left: 16px;
}

.footer-links .email-container .email-full {
  display: block;
}

.footer-links .email-container .email-short {
  display: none;
}

.footer-links .email-container:active {
  background-color: #37332F;
}

.copied-popup-flying-container-background {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  z-index: 100;
}

.copied-popup-flying-container-background .copied-popup-flying-container {
  display: none;
  width: 348px;
}

.copied-popup-flying-container-background .copied-popup-flying-container .copied-popup-content-container {
  background-color: #B3DDC7;
  display: flex;
  padding: 4px 24px 4px 4px;
  border-radius: 1000px;
  align-items: center;
}

.copied-popup-flying-container-background .copied-popup-flying-container .copied-popup-content-container .icon-container {
  height: 48px;
  width: 48px;
  border-radius: 1000px;
  background-color: #2C2925;
  text-align: center;
}

.copied-popup-flying-container-background .copied-popup-flying-container .copied-popup-content-container .icon-container img {
  margin-top: 14px;
}

.copied-popup-flying-container-background .copied-popup-flying-container .copied-popup-content-container .text-container {
  margin-left: 16px;
}

.copied-popup-flying-container-background .copied-popup-flying-container .copied-popup-content-container .text-container br {
  display: none;
}

.interactive-tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  height: 56px;
  width: fit-content;
  border-radius: 28px;
  color: #2C2925;
  border: 2px solid #37332F;
  cursor: pointer;
  user-select: none;
}

/*# sourceMappingURL=dev.css.map */
